# Python
__pycache__/
*.pyc

# Django
db.sqlite3

# Virtual environment
venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python bytecode files
__pycache__/
*.pyc
*.cpython-*.pyc

# Django static files
staticfiles/

# # PDF files in portfolio static directory e.g resume
# portfolio/static/portfolio/*.pdf
